# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /vendor/bin/init.spectrum.sh
   exec u:r:su:s0 root root -- /vendor/bin/init.spectrum.sh
   exec u:r:magisk:s0 root root -- /vendor/bin/init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel MoeSyndrome-vanilla

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1401600:40000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 85
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 60000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_slack 480000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1401600
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "80 652800:57 1036800:67 1401600:75 1689600:80 1843200:85 1958400:87"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 39000
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 0
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 0
    write /sys/devices/system/cpu/cpufreq/interactive/ignore_hispeed_on_notif 0
    write /sys/devices/system/cpu/cpufreq/interactive/fast_ramp_down 0
    write /sys/devices/system/cpu/cpufreq/interactive/align_windows 1
    write /sys/devices/system/cpu/cpufreq/interactive/enable_prediction 0
    write /sys/devices/system/cpu/cpufreq/interactive/max_freq_hysteresis 0
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 750
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1036800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz	
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay "20000 1843200:40000"
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 50
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1843200
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "85 1401600:80"
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1804800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 2000
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0


# Battery
on property:persist.spectrum.profile=2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "conservative"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1036800
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/workqueue/parameters/power_efficient Y
    write /sys/module/cpu_boost/parameters/input_boost_ms 1500
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 3
	
# Gaming
on property:persist.spectrum.profile=3
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1401600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/module/workqueue/parameters/power_efficient N
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1248000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 420
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/class/kgsl/kgsl-3d0/max_pwrlevel 0
